<link href="/assets/style.css" rel="stylesheet" type="text/css" />
<div class="form">
  <form action="submit" method="post">
    <div>
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" placeholder="Nombre" />
    </div>
    <div>
      <label for="lastName">Apellido</label>
      <input type="text" name="lastName" id="lastName" placeholder="Apellido"/>
    </div>
    <div>
      <label for="age">Edad</label> 
      <input type="number" name="age" id="age" placeholder= "Edad"/>
    </div>
    <div>
      <label for="height">Altura</label>
      <input type="number" name="height" id="height" placeholder="Altura" />
    </div>
    <div>
      <label for="weight">Peso</label>
      <input type="number" name="weight" id="weight" placeholder="Peso"/>
    </div>
    <div>
      <label for="email">Correo</label>
      <input type="email" name="meil" id="meil" placeholder="Correo"/>
    </div>
    <div>
      <label for="instalment">Mensualidad</label>
      <input type="number" name="instalment" id="instalment" placeholder="Mensualidad"/>
    </div>
    <div>
        <button type="submit">Registrar</button>
    </div>
  </form>
</div>
