<link href="/assets/normalize.css" rel="stylesheet" type="text/css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
  rel="stylesheet"
/>
<link href="/assets/style.css" rel="stylesheet" type="text/css" />

 
<footer>
    <div class="footer">
        <div></div>
        <div>
            <span>Derechos Reservados think-code codeFabs</span>
            <span  >2023  </span>
        </div>
    </div>
</footer>